@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@200&display=swap');body {
    color: #ECF39E;
    background-color: #31572C;
    font-family: bodonic MT;
    margin-left: 100px;
    margin-right: 100px;
  }
  nav {
    font-size: larger;
    text-align: center;
  }
  nav ul {
    list-style-type: none;
  }
  h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  }
  h2 a {
    font-size: 150%;
    text-decoration: #03120E;
    color: #c4b04d;
  }
  header {
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }
  footer div {
  text-align: center;

}
footer nav {
  background-color: rgb(73, 15, 11);
  text-align: center;
  padding: 8px 10px;
}

footer nav a {
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  font-family: 'Playfair Display', serif;
}

footer p {
  text-align: center;
}
div.valid {
  text-align: center;
}
header nav {
  background-color: rgb(73, 15, 11);
  padding: 14px 16px;
}
header nav a {
  justify-content: space-between;
  margin-left: 12px;
  margin-right: 12px;
  font-family: 'Playfair Display', serif;
  font-size: 120%;
}
a {
  text-decoration: none;
  color: #ECF39E;
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
  font-family: bodonic MT;
}
a:hover {
  text-decoration: underline;
  color: rgb(3, 247, 247);
} 
  .container
  {
    width: 410px;
    margin: 40px auto;
    overflow: auto;
    justify-items: center;
  } 
.slide-inner{
  width:540px;
  height:350px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
  border: #907e26 solid 1px;
 
}
.slide-inner img {
display:none;
width:540px;
height:350px;
text-align: center;
justify-content: center;

}
  
.slide-inner img.active{
  display: inline-block;
  
}


