
      
       
       body {
            color: teal;
            background-color: silver;
            font-family: bodonic MT;
            margin-left: 100px;
            margin-right: 100px;
        }
        
        nav  {
            font-size: larger;
            text-align: center;   
        
        }

        nav ul {
          list-style-type: none;
        }

        h1, h2, h3{
            font-family: bodonic MT;
            text-align: center;

        }
        header{
         
          text-align: center;
          font-family: bodonic MT;
               
            }
            figure{
              text-align: center;
            }
      main{
        font-size: 120%;
   
       }
       ol, td, th{
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
     
       div.form{
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }

       form{
        text-align: left;
       }
       footer div{
       text-align: center;
         
      }
      footer nav {
        background-color: rgb(56, 11, 11);
      }
      footer p {
        text-align: center;

      }

      div.valid{
        text-align: center;
      }
      
 header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(56, 11, 11);
 }
 header li {
  float: left;
}

 header li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  margin-left: 30px;
  margin-right: 120px;
   
}

a
{
        text-decoration: none;
        color:teal;
        font-weight: bold;
        font-size: 20px;
        list-style-type: none;
        font-family: bodonic MT;
}
      a:hover{
        text-decoration: underline;
        color:mediumorchid;
      }
    
      p{
        text-align: left;
             
    }
     
      em{
        margin-left:300px;
        
    }
    th, td{
      border: 1px solid black;
      padding: .2em 1em .2em .5em;
      text-align: left;
      vertical-align: middle;
  }
  thead, tfoot{
      background-color: blanchedalmond;
  }
  tbody tr:nth-child(even)
  {
      background-color: rgba(161, 158, 94, 0.349);
  }

  tbody tr:nth-child(odd)
  {
      background-color: thistle;

  }


  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: teal;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0 auto; /* Important for vertical align on mobile phones */
    
    }
    
    /* Add a red background color to navbar links on hover */
    .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: mediumorchid;
    }
    
    /* Dropdown content (hidden by default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #88ae68;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align:right;
    }
    
    /* Add a grey background color to dropdown links on hover */
    .dropdown-content a:hover {
    background-color: #ddd;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
    display: block;
    }
   
  





