
      
       
       body {
            color: #ECF39E;
            background-color: #31572C;
            font-family: bodonic MT;
            margin-left: 100px;
            margin-right: 100px;
        }
        
        nav  {
            font-size: larger;
            text-align: center;
             
        }

        nav ul {
          list-style-type: none;
          
        }

        h1, h2, h3{
            font-family: bodonic MT;
            text-align: center;

        }
        
        header{
         
          text-align: center;
          font-family: bodonic MT;
               
            }
            figure{
              text-align: center;
            }
      main{
        font-size: 120%;
   
       }
       ol, td, th{
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
     
       div.form{
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }

       form{
        text-align: left;
       }
       footer div{
       text-align: center;
         
      }
      footer nav {
        background-color: rgb(73, 15, 11);
        text-align: center;
        padding: 8px 10px;
      }
      footer nav a {
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
      }

      footer p {
        text-align: center;

      }

      div.valid{
        text-align: center;
      }
      
      header ul {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:rgb(73, 15, 11);
     }
      header li {
      float: left;
      }

     header li a {
     display: block;
     text-align: center;
     padding: 12px 14px;
     margin-left: 30px;
     margin-right: 30px;
   
     }

     header nav ul li a{
      justify-content: space-between;
     }

     a
      {
        text-decoration: none;
        color:#ECF39E;
        font-weight: bold;
        font-size: 20px;
        list-style-type: none;
        font-family: bodonic MT;
      }
      a:hover{
        text-decoration: underline;
        color:rgb(3, 247, 247);
      }
    
      p{
        text-align: left;         
      }
      p a{
        font-size: medium;
      }
     
      em{
        margin-left:300px;
        
       }
     th, td{
      border: 1px solid black;
      padding: .2em 1em .2em .5em;
      text-align: left;
      vertical-align: middle;
     }
     thead, tfoot{
      background-color: #03120E;
    }
     tbody tr:nth-child(even)
    {
      background-color: rgba(161, 158, 94, 0.349);
    }

     tbody tr:nth-child(odd)
    {
      background-color: #26413C;

      }

      
  





