
        body {
            color: teal;
            background-color: rgba(255, 255, 255, 0.397);
            font-family: bodonic MT;
            margin-left: 300px;
            margin-right: 300px;
        }
       
        
        nav {
            list-style-type: none;
            margin: 0;
            padding:0;
            overflow: hidden;
            font-size: 120;
            
        
        }
       
    header{
    text-align: center;
   
    }
    footer{
       
        text-align: left;
        
    }
    footer section{
      margin-left: 300px;
       margin-right: 300px;
       text-align: center;
       
    }
    p{
        text-align: left;
        
    }
        
    em{
        margin-left:300px;
        
    }
        