
        body {
            color: teal;
            background-color: silver;
            font-family: bodonic MT;
            margin-left: 300px;
            margin-right: 300px;
        }
       
        
        nav {
            
            text-align: center;  
        
        }
       
        header{
        
            text-align: center;
               
            }
      main{
        text-align: center;
   
       }

       footer section{
        margin-left: 300px;
        margin-right: 300px;
       text-align: center;
         
      }

     a{
        color:lightseagreen;
        font-weight: bold;
      }
    
      p{
        text-align: left;
             
    }
     
      em{
        margin-left:300px;
        
    }
        