
      
       
       body {
            color: teal;
            background-color: silver;
            font-family: bodonic MT;
            margin-left: 100px;
            margin-right: 100px;
            margin-top:50px;
        }
        nav  {
            font-size: larger;
            text-align: center;
            background-color: rgb(105, 100, 100);         
        }
        header{   
            text-align: center;
            font-family: bodonic MT;
        }  
        header em {
            text-align: center;
        }
        em {
            font-size: 120%;
        }
        footer p {
           text-align: center; 
           font-size: 100%;       
        }      
       main{
           font-size: 120%;
       }
       p{
           text-align: left;
              }
       ul {
           list-style-type: none;
       }
      a  {
           text-decoration: none;
           color:teal;
           font-weight: bold;
           font-size: 20px;
           list-style-type: none;
           font-family: bodonic MT;
       }
     a:hover{
           text-decoration: underline;
           color:mediumorchid;
    }
    
  





