@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Slab:wght@200&display=swap');
body {
    background-color: #26413C;
    margin-right: 100px;
    margin-left: 100px;
    font-family: 'Playfair Display', serif;
    color: #7AFDFF
}
header nav {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(29, 26, 26);
    padding: 14px 16px;
    border-radius: 25px;
    border: 3px solid #a28b2f;
}
main {
    font-size: 120%;
    color: antiquewhite;
}
nav a {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 0.8em;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    text-decoration: none;
    color: #7AFDFF;
}

a:hover {
    text-decoration: underline;
    color: #4DFF4D;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

footer {
    padding-top: 50px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #c4b04d;
}

footer nav {
    background-color: rgb(29, 26, 26);
    margin-top: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100vh;
    
}

.resource p {
    font-size: 120%;
}
.resource {
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 50px;
    align-items: center;
    border: 3px solid #a28b2f;
    border-radius: 25px;
}
.resources {
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-left: 15px;
    margin-left: 40px;
    align-items: center;
    border: 3px solid #a28b2f;
    border-radius: 10px; 
}
.resources p {
    font-size: 120%;
}
figure {
    
    border: 4px solid #a28b2f;
    width: 100%;
    height: 100vh;
    border-radius: 25px;
}
figcaption {
    font-style: italic;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #c4b04d;
}

#id_pager {
    text-align: center;
    font-size: 90%;
    color: green;
    
}
ul #accordio{
    list-style-type: none;
}
.page {
    width: 100%;
    height: 100vh;
    border: 4px solid #a28b2f;
    border-radius: 10px; 
    background-color: black;

    
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabcontent {
    display: none;
}
.tab {
    margin-top: 50px;
    display: block;
    text-align: center;
    align-content: center;
   background-color: black;
}

button {
    display: block;
    justify-content: space-between;
    color: #7AFDFF;
    font-size: 110%;
    background-color: black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-left: 20px;
}

#accordion,
.sli {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    color: antiquewhite;
    border: 1px solid #a28b2f;
    margin-top: 40px;
    border-radius: 20px;
}
#accordion{
    border: 4px solid #a28b2f;
    border-radius: 25px;
}

.right {
    float: right;
}

.middle {
    border: 1px solid #a28b2f;
    border-radius: 25px;
    padding-top: 40px;
}

th,
td {

    border: 1px solid #a28b2f;
    padding: .2em 1em .2em .5em;
    text-align: left;
    color: antiquewhite;
}

tbody tr:nth-child(even) {
    background-color: rgba(161, 158, 94, 0.349);
}

tbody tr:nth-child(odd) {
    background-color: #26413C;
}
.image{
    width: 100%;
    height: 100vh;
    border: 4px solid #a28b2f;
    border-radius: 25px;
    margin-left: 40px;
    margin-top: 50px;
}
 .image img{
    width: 100%;
    height: 100vh;
    border-radius: 25px; 
}
 li img{
    padding-bottom: 20px;
 }

#slider li img {
    width: 100%;
    border-radius: 25px;  
    height: 710px;
}
