<footer>
  <nav>
    <a href="https://webpages.charlotte.edu/ewekjira/itis3135/" target="_blank"> Charlotte Home</a> &#9553;
    <a href="https://github.com/Eshetu70/Eshetu70.github.io" target="_blank"> Github.com</a> &#9553;
    <a href="https://eshetu70.github.io/Web-Based-Application-Design-and-Development/" target="_blank"> Github.io</a> &#9553;
    <a href="https://www.freecodecamp.org/ewekjira/" target="_blank"> freecodecamp</a> &#9553;
    <a href="https://www.codecademy.com/learn/welcome-to-codecademy/" target="_blank"> Codecademy</a> &#9553;
    <a href="https://www.linkedin.com/in/eshetu-wekjira-442a2123a/" target="_blank"> LinkedIn</a> &#9553;
    <a href="https://www.freecodecamp.org/certification/ewekjira/responsive-web-design" target="_blank"> FCC RWD</a> &#9553;
    <a href="https://freecodecamp.org/certification/ewekjira/javascript-algorithms-and-data-structures" target="_blank"> FCC JSADS</a> &#9553;
  </nav>
  <br>
  <div>
    <p>Designed by:<a href="ewekjiradesigner.com">Eshetu Wekjira Designer</a> @2022</p>
    <p>
      <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img src="images/W3CHTML.png" width="88" height="31" alt="Validate webpage HTML."/>
      </a>
      <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <img src="images/W3CCSS.png" width="88" height="31" alt="Validate webpage CSS."/>
      </a>
    </p>
    <script>
      document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
      document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
  </div>
</footer>