<footer>
    <nav>
    <a href="https://webpages.charlotte.edu/ewekjira/itis3135/" target="_blank"> Charlotte Home</a> &#9553; 
    <a href="https://github.com/Eshetu70/Eshetu70.github.io" target="_blank"> Github.com</a> &#9553;
    <a href="https://eshetu70.github.io/" target="_blank"> Github.io</a> &#9553;
    <a href="https://www.freecodecamp.org/ewekjira/" target="_blank"> freecodecamp</a> &#9553;
    <a href="https://www.codecademy.com/learn/welcome-to-codecademy/" target="_blank"> Codecademy</a> &#9553;
    <a href="https://www.linkedin.com/in/eshetu-wekjira-442a2123a/" target="_blank"> LinkedIn</a> &#9553;
    </nav>
    <br>
    <div>
      <p>Designed by:<a href ="ewekjiradesigner.com">Eshetu Wekjira Designer</a> @2022</p>
    <p>
    <a href="https://validator.w3.org/check?uri=referer">
    <img src="images/W3CHTML.png" alt ="image for a Validation "></a>
    <a href="https://validator.w3.org/check?uri=referer">
    <img src ="images/W3CCSS.png" alt ="image for a validation"> </a></p>
    </div>   
</footer>