<header>
    <h1>Eshetu Wekjira's Emotional Whale 🐋 &#9733; ITIS 3135</h1>
    <nav>
        <a href="home.html">Home</a>&#9830;&#9830;&#9830;
        <a href="introduction.html">Introduction</a>&#9830;&#9830;&#9830;
        <a href="contract.html">Contract</a>&#9830;&#9830;&#9830;
        <a href="tables.html">Tables</a>&#9830;&#9830;&#9830;
        <a href="form.html">Forms</a>&#9830;&#9830;&#9830;
        <a href="website_evaluations.html">Website Evaluations</a>&#9830;&#9830;&#9830;
        <a href="firstscripts.html">FirstJavaScripts</a>&#9830;&#9830;&#9830;
        <a href="ewekjiradesigner.com/index.html">Brand page</a>&#9830;&#9830;&#9830;
        <a href="polygon_name.html">Polygon_Name</a>&#9830;&#9830;&#9830;
        <a href="calculator_try.html">Calculator_Try</a>&#9830;&#9830;&#9830;
        <a href="calculator.html">Calculator</a>&#9830;&#9830;&#9830;
    </nav>
</header>