
<header>
    <h1>Eshetu Wekjira's Emotional Whale 🐋 &#9733; ITIS 3135</h1>
    <nav>
        <a href="home.html">Home</a>&#9830;
        <a href="introduction.html">Introduction</a>&#9830;
        <a href="contract.html">Contract</a>&#9830;
        <a href="tables.html">Tables</a>&#9830;
        <a href="forms.html">Forms</a>&#9830;
        <a href="website_evaluations.html">Website Evaluations</a>&#9830;
        <a href="firstscripts.html">FirstJavaScripts</a>&#9830;
        <a href="ewekjiradesigner.com/index.html">Brand page</a>&#9830;
        <a href="polygons.html">Polygon_Name</a>&#9830;
        <a href="calculator_try.html">Calculator_Try</a>&#9830;
        <a href="calculator_fcc.html">Calculator_Part2</a>&#9830;
        <a href="arrays.html">Arrays</a>&#9830;
        <a href="exercise/index.html">Activity_Accessibility</a>&#9830;
        <a href="projects_proposal.html">Project Proposal</a>&#9830;
        <a href="slideshow.html">Slideshow</a>&#9830;
        <a href="activity10.html">Swap Application</a>&#9830;
        <a href="evalaution.html">Peer Evaluation</a>
    </nav>
</header>
