
<header>
    <h1>Eshetu Wekjira's Emotional Whale 🐋 &#9733; ITIS 3135</h1>
    <nav>
    <ul>
    <li><a href="home.html">Home &#9553;</a> </li> 
    <li><a href="introduction.html">Introduction  &#9553;</a></li>
    <li><a href="contract.html">Contract &#9553;</a></li>
    <li><a href="tables.html">Tables &#9553;</a></li>
    <li><a href="form.html">Forms &#9553;</a></li>
    <li><a href="website_evaluations.html">Website Evaluations &#9553;</a></li>
    <li><a href="firstscripts.html">FirstJavaScripts &#9553;</a></li>
    <li><a href="ewekjiradesigner.com/index.html">Brand page &#9553;</a></li>
    </ul>
    </nav>
</header>  
   